div#ajaxModel .modal-dialog {
    width: 600px !important;
}
.delet p {
    font-size: 16px;
}
.delet h6 {
    font-size: 20px;
}
.delet {
    padding: 0px 30px;
}
.modal-header{
    border: 0 !important
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0;
}
.modal-footer button.btn.btn-default {
    color: #fff;
    height: 40px;
    width: 80px;
    font-size: 16px;
    border-radius: 0;
    background-color: #000;
    border: 1px solid #000;
}
.modal-footer button.btn.btn-default:hover{
    background-color: #64cae1;
      border: 1px solid #64cae1;

}

.close {
    float: right;
    font-size: 31px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 9;
}
label.col-sm-2.control-label {
    font-size: 16px;
    padding: 0 17px 8px;
    width: auto;
}
button#saveBtn {
    color: #fff;
    height: 40px;
    width: 180px;
    font-size: 16px;
    border-radius: 0;
    background-color: #64cae1;
    border: 1px solid #64cae1;
    float: right;
}
button#saveBtn:hover{
	 background-color: #000;
    border: 1px solid #000;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0px solid #111 !important;
}
textarea#cat_detail {
    height: 90px;
    resize: none;
}
div#table_length label, div#table_filter label {
    font-size: 16px;
    color: #4c4d5a;
    padding: 10px 0px;
}
div#table_filter label input {
    width: 60%;
    border: 1px solid #d8d8d8;
    height: 33px;
    border-radius: 4px;
}
.page-header i {
    height: 20px;
    line-height: 20px;
}
select#cat_id {
    display: block;
    width: 97%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: auto;
    border-color: #ebedf2;
    color: #575962;
}
a.btn.btn-danger.btn-sm.deleteUploadImage {
    color: #fff !important;
}
a.edit.btn.btn-primary.btn-sm.editUploadImage {
    color: #fff !important;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9cc800d408ce84b53db52b272c6a37bac30be335
}
.modal{
	z-index: 99999999999999 !important;
	
}
.panel.panel-default {
    position: relative;
    z-index: 99;
<<<<<<< HEAD
=======
=======
>>>>>>> 291d32694acc75f361be1752c882fa5852916acd
>>>>>>> 9cc800d408ce84b53db52b272c6a37bac30be335
}