/* 320 to 370 responsive */

@media screen and (min-width:320px)and (max-width:370px) {
    .sec3_img img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .navbar-inverse {
        background-color: #000000fc !important;
        border-color: #fff !important;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
    }
    .sec3_img {
        margin: 20px 0px 20px 0px;
    }
    .block-it {
        margin: 20px 0px 20px 0px;
    }
    .right_nav {
        width: 100%;
        float: left;
        text-align: left !important;
        margin: 0 auto !important;
    }
    .cont_in {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .div_contant {
        width: 100% !important;
		text-align:left !important;
    }
    .cart_btn {
        width: 100%;
        text-align: center;
        margin: 0 !important;
    }
    .abt_banner {
        margin-top: -90px !important;
    }
    figure img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .feature_div h2 {
        font-size: 18px;
        line-height: 1.5;
    }
    .section3 h2 {
        font-size: 15px;
        line-height: 1.5;
    }
    .why_sec h2 {
        font-size: 33px;
        margin: 45px 0px 0px 0px;
    }
    .section4 h2 {
        font-size: 20px;
        line-height: 1.5;
    }
    .navbar-header {
        background: #000;
    }
    .navbar-header .navbar-brand img {
        width: 87px;
        left: 20px;
        position: relative;
        top: -6px;
    }
    #myNavbar {
        margin-top: 0px !important;
    }
    blockquote p {
        font-size: 15px;
    }
    .content {
        margin-top: 0 !important;
    }
    .content blockquote {
        position: absolute;
        top: 5%;
        bottom: 0px;
        left: 9%;
        z-index: 2;
        max-width: 65%;
        background: rgba(0, 0, 0, 0.36);
    }
    .cd-slider {
        height: 30vh;
        margin-top: 85px;
        top: 0px;
    }
    .navbar-nav {
        background: #000;
        width: 100%;
    }
    .feature_product h2 {
        font-size: 15px;
        line-height: 1.5;
    }
    .left_in h5 {
        font-size: 17px;
        padding-left: 39px;
        line-height: 1.5;
    }
    .right_in h5 {
        font-size: 17px;
        padding-right: 33px;
        line-height: 1.5;
    }
    .left_in a {
        width: 60%;
        margin: 0;
        float: left;
        margin-left: 38px;
    }
    .right_in a {
        width: 60%;
        margin: 0;
        float: left;
        margin-right: 38px;
    }
    .who_sec img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .from-group {
        width: 100% !important;
		margin:0px 0px 20px;
    }
    form {
        display: block;
        width: 100%;
    }
    .contact_inner {
        width: 90%;
    }
	.act-inner{width:85%;}
}


/* 371 to 540 responsive */

@media screen and (min-width:371px) and (max-width:540px) {
    .cont_in {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .who_sec img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .block-it {
        margin: 20px 0px 20px 0px;
    }
    .why_sec h2 {
        font-size: 33px;
        margin: 45px 0px 0px 0px;
    }
    .navbar-inverse {
        background-color: #000000fc !important;
        border-color: #fff !important;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
    }
    .sec3_img img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .sec3_img {
        margin: 20px 0px 20px 0px;
    }
    .right_nav {
        width: 100%;
        float: left;
        text-align: left;
        margin: 0 auto !important;
        ;
    }
    .div_contant {
        width: 100% !important;
        text-align: left !important;
    }
    .cart_btn {
        width: 100%;
        text-align: center;
        margin: 0 !important;
    }
    .feature_div h2 {
        font-size: 18px;
        line-height: 1.5;
    }
    .section3 h2 {
        font-size: 15px;
        line-height: 1.5;
    }
    .section4 h2 {
        font-size: 20px;
        line-height: 1.5;
    }
    .navbar-header {
        background: #000;
    }
    .navbar-header .navbar-brand img {
        width: 87px;
        left: 20px;
        position: relative;
        top: -6px;
    }
    #myNavbar {
        margin-top: 0px !important;
    }
    blockquote p {
        font-size: 15px;
    }
    .content {
        margin-top: 0 !important;
    }
    .content blockquote {
        position: absolute;
        top: 5%;
        bottom: 0px;
        left: 9%;
        z-index: 2;
        max-width: 65%;
        background: rgba(0, 0, 0, 0.36);
    }
    .cd-slider {
        height: 30vh;
        margin-top: 48px;
        top: 0px;
    }
    .navbar-nav {
        background: #000;
        width: 100%;
    }
    .feature_product h2 {
        font-size: 15px;
        line-height: 1.5;
    }
    .left_in h5 {
        font-size: 17px;
        padding-left: 39px;
        line-height: 1.5;
    }
    .right_in h5 {
        font-size: 17px;
        padding-right: 33px;
        line-height: 1.5;
    }
    .left_in a {
        width: 60%;
        margin: 0;
        float: left;
        margin-left: 38px;
    }
    .right_in a {
        width: 60%;
        margin: 0;
        float: left;
        margin-right: 38px;
    }
    .from-group {
        width: 100% !important;
		margin:0px 0px 20px;
    }
    form {
        display: block;
        width: 100%;
    }
    .contact_inner {
        width: 90%;
    }
	.act-inner{width:85%;}
}


/* 541 to 767 responsive */

@media screen and (min-width:541px) and (max-width:767px) {
    .cont_in {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .who_sec img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .block-it {
        margin: 20px 0px 20px 0px;
    }
    .why_sec h2 {
        font-size: 33px;
        margin: 45px 0px 0px 0px;
    }
    .navbar-inverse {
        background-color: #000000fc !important;
        border-color: #fff !important;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
    }
    .sec3_img img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .sec3_img {
        margin: 20px 0px 20px 0px;
    }
    .right_nav {
        width: 100%;
        float: left;
        text-align: center;
        margin: 0 auto !important;
        ;
    }
    .div_contant {
        width: 100% !important;
        text-align: center !important;
    }
    .cart_btn {
        width: 100%;
        text-align: center;
        margin: 0 !important;
    }
    .feature_div h2 {
        font-size: 18px;
        line-height: 1.5;
    }
    .section3 h2 {
        font-size: 15px;
        line-height: 1.5;
    }
    .section4 h2 {
        font-size: 20px;
        line-height: 1.5;
    }
    .navbar-header {
        background: #000;
    }
    .navbar-header .navbar-brand img {
        width: 87px;
        left: 20px;
        position: relative;
        top: -6px;
    }
    #myNavbar {
        margin-top: 0px !important;
    }
    blockquote p {
        font-size: 28px;
    }
    .content {
        margin-top: 0 !important;
    }
    .content blockquote {
        position: absolute;
        top: 28%;
        bottom: 0px;
        left: 9%;
        z-index: 2;
        max-width: 65%;
        background: rgba(0, 0, 0, 0.36);
    }
    .cd-slider {
        height: 50vh;
        margin-top: 48px;
        top: 0px;
    }
    .navbar-nav {
        background: #000;
        width: 100%;
    }
    .feature_product h2 {
        font-size: 15px;
        line-height: 1.5;
    }
    .left_in h5 {
        font-size: 17px;
        padding-left: 39px;
        line-height: 1.5;
    }
    .right_in h5 {
        font-size: 17px;
        padding-right: 33px;
        line-height: 1.5;
    }
    .left_in a {
        width: 60%;
        margin: 0;
        float: left;
        margin-left: 38px;
    }
    .right_in a {
        width: 60%;
        margin: 0;
        float: left;
        margin-right: 38px;
    }
    .from-group {
        width: 100% !important;
		margin:0px 0px 20px;
    }
    form {
        display: block;
        width: 100%;
    }
    .contact_inner {
        width: 90%;
    }
	.act-inner{width:85%;}
}


/* 767 to 1200 responsive */

@media screen and (min-width:768px) and (max-width:1200px) {
    .cont_in {
        width: 32% !important;
        margin-left: 0px !important;
        margin-right: 7px !important;
    }
    .who_sec img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .block-it {
        margin: 20px 0px 20px 0px;
    }
    .why_sec h2 {
        font-size: 33px;
        margin: 45px 0px 0px 0px;
    }
    .sec3_img img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .navbar-inverse {
        background-color: #000000fc !important;
        border-color: #fff !important;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
    }
    .hover_img {
        bottom: 25% !important;
    }
    .sec3_img {
        margin: 20px 0px 20px 0px;
    }
    .right_nav {
        width: 100%;
        float: left;
        text-align: center !important;
        margin: 0 auto !important;
        ;
    }
    .div_contant {
        width: 100% !important;
        text-align: center !important;
    }
    .cart_btn {
        width: 100%;
        text-align: center;
        margin: 0 !important;
    }
    .feature_div h2 {
        font-size: 25px;
        line-height: 1.5;
    }
    .section3 h2 {
        font-size: 25px;
        line-height: 1.5;
    }
    .section4 h2 {
        font-size: 25px;
        line-height: 1.5;
    }
    .navbar-header {
        background: #000;
    }
    .navbar-header .navbar-brand img {
        width: 87px;
        left: 20px;
        position: relative;
        top: -6px;
    }
    #myNavbar {
        margin-top: 0px !important;
    }
    blockquote p {
        font-size: 28px;
    }
    .content {
        margin-top: 0 !important;
    }
    .content blockquote {
        position: absolute;
        top: 28%;
        bottom: 0px;
        left: 9%;
        z-index: 2;
        max-width: 65%;
        background: rgba(0, 0, 0, 0.36);
    }
    .cd-slider {
        height: 50vh;
        margin-top: 48px;
        top: 0px;
    }
    .navbar-nav {
        width: 100%;
    }
    .feature_product h2 {
        font-size: 15px;
        line-height: 1.5;
    }
    .left_in h5 {
        font-size: 17px;
        padding-left: 39px;
        line-height: 1.5;
    }
    .right_in h5 {
        font-size: 17px;
        padding-right: 33px;
        line-height: 1.5;
    }
    .left_in a {
        width: 60%;
        margin: 0;
        float: left;
        margin-left: 38px;
    }
    .right_in a {
        width: 60%;
        margin: 0;
        float: left;
        margin-right: 38px;
    }
    .from-group {
        width: 100% !important;
		margin:0px 0px 20px;
    }
    form {
        display: block;
        width: 100%;
    }
    .contact_inner {
        width: 90%;
    }
	.act-inner{width:85%;}
}