body {
    font-family: 'Philosopher', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 h6 {
    margin: 0;
    padding: 0;
    font-family: 'Nobile', sans-serif !important;;
}

h5 {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    color: #000;
    font-size: 34px;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 600;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a:hover {
    text-decoration: none;
}

.right_nav li {
    display: inline-block;
    padding: 10px 13px;
}

.right_nav li a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Philosopher', sans-serif;
}

.right_nav li a:hover {
    color: #64cae1;
    transition: all ease 0.5s;
}

.right_nav {
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    padding: 0px;
    margin: -8px 0px -11px 35px;
}

input.srch {
    height: 35px;
    padding: 10px 7px;
    font-size: 14px;
    color: #64cae1;
    border: 2px solid #fff;
    background-color: transparent;
}

input.srch::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

input.srch::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

input.srch:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

input.srch:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 99999999;
    height: 152px;
}

a.navbar-brand {
    margin: 0;
    padding: 0;
}

a.navbar-brand img {
    width: 150px;
}

a.navbar-brand img {
    width: 130px;
    margin-top: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Philosopher', sans-serif;
}

.navbar-nav {
    float: left;
    margin: 0px 0px 0px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #64cae1;
    background-color: transparent;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 26px;
}

.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color: #79cfe4;
    background-color: transparent;
}

.div_contant {
    display: inline-block;
    width: 33%;
}

.div_contant li a i {
    padding-right: 7px;
}

.div_contant li a {
    color: #fff;
    font-size: 16px;
}

.div_contant li {
    display: inline-block;
    padding: 0px 18px 0px 0px;
    position: relative;
}

.dropdown {
    display: inline-block;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
}

.top_hdr {
    background-color: #000;
    padding: 10px 0px;
    line-height: 38px;
}

.navbar {
    margin-bottom: 0px;
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    margin: 1.5rem;
}

.cd-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -140px;
    top: -65px;
}

.cd-slider.ie9 nav div span {
    display: none;
}

.cd-slider ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: visibility 0s .6s;
}

.cd-slider ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    width: 135vh;
    height: 135vh;
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: border-width .4s .6s;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    opacity: 0;
    transform: scale(1.2);
    transition: opacity .4s .6s, transform .4s .6s;
}

.content blockquote {
    position: absolute;
    bottom: 5%;
    left: 4%;
    z-index: 2;
    max-width: 45%;
}

blockquote p {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #fff;
}

blockquote span {
    font-size: 1.4rem;
}


/* current slide
---------------------------------*/

.cd-slider li.current_slide {
    visibility: visible;
}

.cd-slider li.current_slide::before {
    border-width: 16rem;
}

.cd-slider li.current_slide .content {
    opacity: 1;
    transform: scale(1);
}


/* nav
---------------------------------*/

.nav_in div {
    position: absolute;
    top: 50%;
    left: 4%;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    list-style: none;
}

.nav_in div:last-of-type {
    left: auto;
    right: 4%;
}

.prev,
.next {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100%;
    transition: box-shadow .3s;
}

.prev::before,
.prev::after,
.next::before,
.next::after {
    content: '';
    position: absolute;
    left: 43%;
    background: #fff;
    width: .4rem;
    min-width: 3px;
    border-radius: 3px;
    height: 34%;
}

.prev::before {
    transform: rotate(45deg);
    top: 24%;
}

.prev::after {
    transform: rotate(-45deg);
    bottom: 24%;
}

.next::before,
.next::after {
    left: auto;
    right: 43%;
}

.next::before {
    transform: rotate(-45deg);
    top: 24%;
}

.next::after {
    transform: rotate(45deg);
    bottom: 24%;
}

.prev:hover,
.next:hover {
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}

.nav_in > div > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 100%;
    z-index: 5;
    pointer-events: none;
    will-change: width, height;
    transform: translate(-50%, -50%);
    transition: width .6s, height .6s;
}

div#myNavbar {
    margin-top: 20px;
    padding: 0px;
}

.section3 {
    padding: 80px 0px;
}

.sec3_img {
    position: relative;
}

.left_in {
    position: absolute;
    top: 50%;
    right: 0;
    width: 200px;
    transform: translateY(-50%);
}

.left_in a {
    background-color: #5ebfd6;
    height: 42px;
    width: 100px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    float: right;
}

.right_in a {
    background-color: #5ebfd6;
    height: 42px;
    width: 100px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}

.right_in {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 200px;
    transform: translateY(-50%);
}

.section4 {
    background-image: url(../images/bg5.jpg);
    padding: 80px 0px;
    position: relative
}

.overlay {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

h4 {
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.sec5_txt {
    text-align: center;
}

h3 {
    font-size: 34px;
    color: #fff;
    font-weight: 400;
    padding: 20px;
}

p {
    font-size: 16px;
    color: #fff;
}

span {
    color: #5ebfd6;
}

.owl-nav button span {
    width: 50px;
    height: 50px;
    background-color: #5ebfd6;
    COLOR: #FFF;
    DISPLAY: INLINE-BLOCK;
    line-height: 40px;
    font-size: 42px;
    position: absolute;
    left: -31%;
    top: 60%;
}

button.owl-prev span {
    left: -38%;
}


/* Make the container relative */

.swap-on-hover {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    height: 440px;
}


/* Select the image and make it absolute to the container */

.swap-on-hover img {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    /* Sets the width and height for the images*/
    width: 100%;
}


/* 
	We set z-index to be higher than the back image, so it's alwyas on the front.

We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect. 
*/

.swap-on-hover .swap-on-hover__front-image {
    z-index: 9999;
    transition: opacity .5s linear;
    cursor: pointer;
}


/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */

.swap-on-hover:hover > .swap-on-hover__front-image {
    opacity: 0;
}

.hover_img {
    border-top: 1px solid #5ebfd6;
    MARGIN-TOP: -6PX;
    padding: 13px;
    position: absolute;
    bottom: 27px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99999;
    text-align: left
}

.hover_img p {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    color: #5ebfd6;
}

.hover_img h6 {
    font-size: 15px;
    color: #5ebfd6;
    padding: 0;
    margin: 0px 0px 0px;
}

.hover_img li i {
    color: #5ebfd6;
}

.hover_img li {
    display: inline-block;
    margin: 6px 0px;
}

a.cart_btn {
    background-color: #5ebfd6;
    color: #fff;
    padding: 6px 18px;
    margin: -28px 0px 0px;
    display: inline-block;
    float: right;
}

.feature_inner img {
    width: 100%;
}

.feature_div {
    padding: 80px 0px;
}

.feature_inner {
    overflow: hidden;
    border-radius: 4px;
    position: relative
}

.feature_inner a img {
    transition: all ease 0.5s;
}

.feature_inner a:hover img {
    transform: scale(1.1, 1.1);
    transition: all ease 0.5s;
}

.feature_inner span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(94, 191, 214,0.6);
    color: #ffffff;
    padding: 10px 41px;
    font-size: 20px;
    border: 2px solid #5ebfd6;
}

.feature_inner.feature_margin {
    margin-top: 16px;
}

footer {
    padding: 80px 0px 20px;
    background-color: #5ebfd6;
}

.ftr_inner h4 {
    font-size: 20px;
    padding: 0px 0px 20px;
}

.ftr_inner li a {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.ftr_inner li {
    padding: 0px 0px 10px;
}

.ftr_inner li span {
    color: #fff;
    font-size: 16px;
}

.copy_right {
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding: 30px 0px 0px;
}

.copy_right p {
    text-align: left;
    display: inline-block
}

.copy_right ul {
    display: inline-block;
    float: right
}

.copy_right ul li a {
    color: #fff;
}

.copy_right ul li {
    font-size: 18px;
    float: left;
    padding: 0px 0px 0px 30px;
}

.feature_scd {
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px 0px rgba(94, 191, 214, 0.85);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(94, 191, 214, 0.85);
    -moz-box-shadow: 0px 0px 4px 0px rgba(94, 191, 214, 0.85);
}


/****about****/

.abt_banner {
    background-image: url(../images/img1.jpg);
    padding: 210px 0px 120px;
    background-size: cover;
    background-position: center;
    margin-top: -190px;
}

.abt_bnner-iner h1 {
    text-align: center;
    color: #fff;
    padding: 80px 0px 0px;
    font-size: 50px;
}

.abt_bnner-iner li {
    display: inline-block;
    color: #fff;
    font-size: 18px;
}

.abt_bnner-iner li a {
    color: #fff;
}

.abt_bnner-iner ul {
    display: block;
    text-align: center;
}

ul.dropdown-menu li a {
    color: #000 !important;
}

.abt_sec2_img img {
    width: 100%;
}

.abt_sec2_txt p {
    font-size: 20px;
    color: #000;
    line-height: 40px;
    padding-top: 150px;
}

.abt_sec2_txt a {
    font-size: 20px;
    background-color: #5ebfd6;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
}

.block-it-icon i {
    background-color: #5ebfd6;
    height: 80px;
    width: 80px;
    line-height: 80px;
    color: #fff;
    font-size: 28px;
    border-radius: 50%;
}

.block-it.text-center h4 {
    color: #5ebfd6;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 25px;
}

.block-it.text-center {
    border: 1px solid #5ebfd6;
    padding: 20px;
}

.block-it.text-center p {
    color: #000;
}

.who_sec {
    padding: 80px 0px;
}

.counter {
    display: block;
    margin: 0px auto;
    font-size: 50px;
    width: 33%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.cont_in {
    width: 33%;
    display: inline-block;
}

.cont_in {
    width: 33%;
    display: inline-block;
    padding: 70px 0px 0px;
}

.cont_in span {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cont_in {
    width: 31.2%;
    display: inline-block;
    padding: 20px 0px 20px;
    background-color: #5ebfd6;
    margin: 56px 11px;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


/****product***/

article > img {
    max-width: 100%;
}

article figure img {
    max-width: 100%;
}

article:first-child {
    margin-top: 0;
}

article:after {
    content: '';
    display: block;
    clear: both;
}

blockquote {
    border-left: solid 4px #6686a0;
    color: #6686a0;
    font-size: 150%;
    font-weight: 400;
    line-height: 1.4;
    margin: 1em;
    max-width: 640px;
    padding: 0 0 0 1em;
    text-indent: 0em;
}

code {
    color: #6686a0;
    font-family: "Andale Mono", "Menlo", mono;
    padding: 0 .4em;
    background-color: rgba(125, 144, 160, 0.1);
    border-radius: 3px;
    display: inline-block;
}

figure {
    margin: 2em 0;
    padding: 0;
}

figure figcaption {
    color: #b2bec8;
    font-size: 1em;
    padding-top: 1em;
}

.button-group {
    margin-top: 2em;
    text-align: center;
}

.content {
    margin-top: 2em;
    clear: both;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

@media (min-width: 768px) {
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}

section.content:first-child {
    padding-top: 0;
}


/* Single Line Code View for Imgix URLs*/

.single-line {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 4px;
    /* Include a Sandbox Button Link */
}

.single-line code {
    font-size: 16px;
    overflow-x: scroll;
    width: 100%;
    word-break: keep-all;
    padding: 1em;
    line-height: 1;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    color: #61daff;
    background: #354b5a;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: bottom;
}

.single-line.sandbox {
    position: relative;
    padding-right: 4px;
    border-radius: 4px 0 0 4px;
}

.single-line .sandbox-link {
    background: url("https://assets.imgix.net/presskit/imgix-presskit.pdf?page=1&fm=png8&w=48") no-repeat;
    background-color: #F8510F;
    display: block;
    min-height: 46px;
    border-bottom: solid 2px #ce3f06;
    width: 48px;
    text-indent: -9999px;
    position: absolute;
    right: 0;
    border-radius: 0 4px 4px 0;
}


/* Transparent Grids for PNGs and gifs */

.transparency-dark {
    background: #496070;
    background-image: -moz-linear-gradient(45deg, #354651 25%, transparent 25%), -moz-linear-gradient(-45deg, #354651 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #354651 75%), -moz-linear-gradient(-45deg, transparent 75%, #354651 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #354651), color-stop(0.25, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #354651), color-stop(0.25, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(0.75, #354651)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(0.75, #354651));
    -moz-background-size: 10px 10px;
    background-size: 10px 10px;
    -webkit-background-size: 10px 10px;
    background-position: 0 0, 5px 0, 5px -5px, 0 5px;
}

.transparency-light {
    background: #efefef;
    background-image: -moz-linear-gradient(45deg, #dfdfdf 25%, transparent 25%), -moz-linear-gradient(-45deg, #dfdfdf 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #dfdfdf 75%), -moz-linear-gradient(-45deg, transparent 75%, #dfdfdf 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #dfdfdf), color-stop(0.25, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #dfdfdf), color-stop(0.25, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(0.75, #dfdfdf)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(0.75, #dfdfdf));
    -moz-background-size: 10px 10px;
    background-size: 10px 10px;
    -webkit-background-size: 10px 10px;
    background-position: 0 0, 5px 0, 5px -5px, 0 5px;
}

.responsive {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-top: solid 10px #00C0FA;
    color: #00C0FA;
    position: relative;
    line-height: 1.4;
    font-weight: 100;
}

.responsive:before {
    content: '⇄';
    position: absolute;
    right: 20px;
}

.responsive:after {
    font-size: 100%;
    vertical-align: baseline;
    font-weight: 400;
}


/* Wider than desktop */

@media (min-width: 1200px) {
    .responsive {
        border-top: solid 10px #00C0FA;
    }
    .responsive:after {
        content: 'Large Desktop';
        font-size: 100%;
    }
}


/* Landscape phone to desktop */

@media (max-width: 1199px) {
    .responsive {
        border-top: solid 10px #2ecfff;
    }
    .responsive:after {
        content: 'Desktop';
        font-size: 100%;
    }
}


/* Landscape phone to landscape tablet */

@media (max-width: 979px) {
    .responsive {
        border-top: solid 10px #00C0FA;
    }
    .responsive:after {
        content: 'Landscape Tablet';
        font-size: 100%;
    }
}


/* Small desktop */

@media (min-width: 980px) and (max-width: 1199px) {
    .responsive:after {
        content: 'Small desktop';
        font-size: 100%;
    }
}


/* Portrait tablet to landscape tablet */

@media (min-width: 768px) and (max-width: 979px) {
    .responsive {
        border-top: solid 10px #0099c7;
    }
    .responsive:after {
        content: 'Portrait Tablet';
        font-size: 100%;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .responsive {
        font-size: 14px;
        border-top: solid 10px #0099c7;
    }
    .responsive:after {
        content: 'Landscape Phone';
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .responsive {
        font-size: 12px;
        text-align: left;
        border-top: solid 10px #0099c7;
    }
    .responsive:after {
        content: 'Portrait Phone';
    }
}

figure {
    text-align: center;
}

picture {
    text-align: center;
}

.demo-trigger {
    display: inline-block;
    width: 30%;
    float: left;
    box-shadow: 0px 0px 10px 0px rgba(130, 130, 130, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(130, 130, 130, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(130, 130, 130, 0.75)
}

.detail {
    position: relative;
    width: 65%;
    margin-left: 5%;
    float: left;
}

@media (max-width: 610px) {
    .detail,
    .demo-trigger {
        float: none;
    }
    .demo-trigger {
        display: block;
        width: 50%;
        max-width: 200px;
        margin: 0 auto;
    }
    .detail {
        margin: 0;
        width: auto;
    }
}

.detail h3 {
    color: #333;
    padding: 16px 0px 20px;
    font-weight: 500;
}

.detail li span {
    width: 70%;
    text-align: left;
    display: inline-block;
    float: right;
    color: #333;
}

.detail li {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0px 9px;
}

input.num {
    width: 50px;
    height: 30px;
    color: #000;
    border: 1px solid #000;
    margin: 0px 0px 0px 10px;
    padding: 10px;
    background-color: transparent;
}

.detail label {
    font-size: 16px;
    color: #000;
}

button.add {
    width: 140px;
    border: 0;
    border-radius: 0;
    background-color: #333 !important;
    height: 48px;
    z-index: 999999;
    font-size: 16px;
    opacity: 9;
    color: #fff;
    margin: 0px 13px;
}

button.add:hover,
.detail a:hover {
    background-color: #64cae1 !important;
    transition: all ease 0.5s;
}

.detail a {
    width: 180px;
    border: 0;
    border-radius: 0;
    background-color: #333 !important;
    height: 48px;
    z-index: 999999;
    font-size: 16px;
    display: inline-block;
    line-height: 48px;
    text-align: center;
    color: #fff;
    margin: 20px 20px 0px 0px;
}

.detail a i {
    padding: 0px 10px;
}

.product_div,
.contact_div {
    background-image: url(../images/bg6.jpg);
    padding: 230px 0px 110px;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-top: -120px;
}

.detail h4 {
    color: #000;
    font-size: 40px;
    padding: 20px 0px;
}

.contact_inner {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(130, 130, 130, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(72, 72, 72, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(72, 72, 72, 0.75);
}

.from-group {
    width: 48%;
    display: inline-block;
    margin: 0px 4px 12px;
}

.from-group label {
    padding: 2px 0px;
    display: block;
    font-size: 16px;
    color: #716e6e
}

.from-group input {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #929191;
    border-radius: 0;
    background-color: transparent;
}

.from-group.from-group1 textarea.txt_in {
    width: 98%;
    height: 140px;
    resize: none;
    border: 1px solid #000;
    background-color: transparent;
}

.from-group.from-group1 {
    width: 100% !important;
    display: block;
}

.sub {
    width: 130px;
    height: 40px;
    color: #fff;
    background-color: #262727;
    border: 0;
    font-size: 16px;
}

.account_div {
    background-image: url(../images/img1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative
}
.account_div2 {
    background-image: url(../images/img3.JPG);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative
}

.act-inner {
    width: 40%;
    margin: auto;
    background-color: #fff;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.49);
}

.who_sec p {
    color: #4c4b4b;
}


/*Radio box*/

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #262727;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #989898;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #989898;
}
.form-check input[type=radio] {
    display: none;
}
.from-group.from-group1 p {
    color: #262727;
    font-size: 23px;
    margin-bottom: 5px;
    font-weight: 900;
}
.form-check label span {
    color: #292929 !important;
	cursor: pointer;
}
.form-check {
    margin: 7px 0px 14px 0px;
}
.form-check label {
    display: inline-block;
    margin: 0px 11px 0px 0px;
}
.from-group.from-group2 p {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.left-img img {
    width: 100%;
}
.prduct_inner.clearfix {
    -webkit-box-shadow: -1px -1px 12px 0px rgba(217, 218, 217, 0.56);
    -moz-box-shadow: -1px -1px 12px 0px rgba(217, 218, 217, 0.56);
    box-shadow: -1px -1px 12px 0px rgba(217, 218, 217, 0.56);
    margin: 30px 0px;
    background-color:#fff;
        z-index: 999999;
    position: relative;
    
  
}
.all_product {
    background-image: url(../images/bg6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      position: relative;
        padding: 200px 0px 40px ;
    margin-top: -160px;
}
.detail1 h3 {
    color: #000;
    font-size: 20px;
    padding: 10px 0px;
    font-weight: 400;
}
.detail1 h4 {
    font-size: 30px;
    color: #000;
    padding: 10px 0px;
}
.detail1 ul li span {
    width: 35%;
    float: left;
}
.detail1 ul li {
    font-size: 16px;
    padding: 0px 0px 5px;
}
.detail1 a {
    font-size: 15px;
    background-color: #000;
    padding: 10px 10px;
    color: #fff;
    margin: 10px 0px 0px;
    display: inline-block;
}
.detail1 a i {
    margin: 0px 3px 0px;
}
.detail1 section {
    padding: 10px 10px;
}
.pagination {
    display: block;
    margin: 14px auto;
    text-align: center;
    width: 100%;
    float: inherit;
        position: relative;
    z-index: 99999;
}

.pagination a {
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
}

.pagination a.active {
  background-color: #64cae1;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #64cae1;}
.detail1 a:hover {
    background-color: #64cae1;
    transition: all ease 0.5s;
}

.overlay1 {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(208, 208, 208, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.address {
    padding: 0px 0px 0px;
}
.addres_inner h6 {
    font-size: 19px;
    font-weight: 600;
}
.addres_inner ul li a {
    color: #000;
}
.addres_inner ul li {
    font-size: 19px;
        padding: 0px 0px 10px;
}
.addres_inner ul li a {
    color: #000;
    width: 89%;
    float: right;
}
.map {
    width: 49%;
    display: inline-block;
     vertical-align: middle;
}
.addres_inner {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.addres_inner {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 200px;
}
.addres_inner img {
    width: 200px;
}





/****admin***/




.hamburger-toggle.is-opened .bar-top {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
  transform-origin: 15% 15%;
}
.hamburger-toggle.is-opened .bar-mid {
  opacity: 0;.u-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.u-input {
  outline: 0;
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
  height: 35px;
  font-size: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}

.c-badge {
  font-size: 10px;
  font-weight: 700;
  min-width: 17px;
  padding: 5px 4px;
  border-radius: 100px;
  display: block;
  line-height: 0.7;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #f91605;
}
.c-badge--header-icon {
  position: absolute;
  bottom: -9px;
}

.tooltip {
  width: 120px;
}
.tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: center;
  background-color: #051835;
  font-size: 12px;
  border-radius: 3px;
}
.tooltip-arrow {
  border-right-color: #051835 !important;
}

.hamburger-toggle {
  position: relative;
  padding: 0;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  order: 1;
}
.hamburger-toggle [class*='bar-'] {
  display: block;
  background: #102c58;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  border-radius: 2px;
  height: 2px;
  width: 24px;
  margin-bottom: 4px;
}
.hamburger-toggle [class*='bar-']:nth-child(2) {
  width: 18px;
}
.hamburger-toggle [class*='bar-']:last-child {
  margin-bottom: 0;
  width: 12px;
}
.hamburger-toggle.is-opened {
  left: 3px;
}
.hamburger-toggle.is-opened [class*='bar-'] {
  background: #102c58;
}
}
.hamburger-toggle.is-opened .bar-bot {
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
  transform-origin: 15% 95%;
  width: 24px;
}
.hamburger-toggle:focus {
  outline-width: 0;
}
.hamburger-toggle:hover [class*='bar-'] {
  background: #f5642d;
}

.header-icons-group {
  display: flex;
  order: 3;
  margin-left: auto;
  height: 100%;
  border-left: 1px solid #cccccc;
}
.header-icons-group .c-header-icon:last-child {
  border-right: 0;
}

.c-header-icon {
  position: relative;
  display: flex;
  float: left;
  width: 70px;
  height: 100%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-right: 1px solid #cccccc;
}
.c-header-icon i {
  font-size: 18px;
  line-height: 40px;
}
.c-header-icon--in-circle {
  border: 1px solid #d0d0d0;
  border-radius: 100%;
}
.c-header-icon:hover i {
  color: #f5642d;
}

.l-header {
  padding-left: 70px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: #ffffff;
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -ms-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}
.l-header__inner {
  height: 100%;
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: stretch;
  border-bottom: 1px solid;
  border-color: #cccccc;
}
.sidebar-is-expanded .l-header {
  padding-left: 220px;
}

.c-search {
  display: flex;
  height: 100%;
  width: 350px;
}
.c-search__input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0;
  flex-basis: 100%;
  height: 100%;
  border: 0;
  font-size: 14px;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.c-dropdown {
  opacity: 0;
  text-align: left;
  position: absolute;
  flex-direction: column;
  display: none;
  width: 300px;
  top: 30px;
  right: -40px;
  background-color: #fff;
  overflow: hidden;
  min-height: 300px;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 5px 14px -1px #cecece;
  -moz-box-shadow: 0px 5px 14px -1px #cecece;
  box-shadow: 0px 5px 14px -1px #cecece;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.l-sidebar {
  width: 70px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  background: #102c58;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.l-sidebar .logo {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #051835;
}
.l-sidebar .logo .logo__txt {
  font-size: 26px;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.l-sidebar__content {
  height: 100%;
  position: relative;
}
.sidebar-is-expanded .l-sidebar {
  width: 220px;
}

.c-menu > ul {
  display: flex;
  flex-direction: column;
}
.c-menu > ul .c-menu__item {
  color: #fff;
  max-width: 100%;
  overflow: hidden;
}
.c-menu > ul .c-menu__item__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 60px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.c-menu > ul .c-menu__item__inner:before {
  position: absolute;
  content: " ";
  height: 0;
  width: 2px;
  left: 0;
  top: 50%;
  margin-top: -18px;
  background-color: #5f9cfd;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.c-menu > ul .c-menu__item.is-active .c-menu__item__inner {
  border-left-color: #5f9cfd;
  background-color: #1e3e6f;
}
.c-menu > ul .c-menu__item.is-active .c-menu__item__inner i {
  color: #5f9cfd;
}
.c-menu > ul .c-menu__item.is-active .c-menu__item__inner .c-menu-item__title span {
  color: #5f9cfd;
}
.c-menu > ul .c-menu__item.is-active .c-menu__item__inner:before {
  height: 36px;
  opacity: 1;
}
.c-menu > ul .c-menu__item:not(.is-active):hover .c-menu__item__inner {
  background-color: #f5642d;
  border-left-color: #f5642d;
}
.c-menu > ul .c-menu__item i {
  flex: 0 0 70px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.c-menu > ul .c-menu__item .c-menu-item__expand {
  position: relative;
  left: 100px;
  padding-right: 20px;
  margin-left: auto;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.sidebar-is-expanded .c-menu > ul .c-menu__item .c-menu-item__expand {
  left: 0px;
}
.c-menu > ul .c-menu__item .c-menu-item__title {
  flex-basis: 100%;
  padding-right: 10px;
  position: relative;
  left: 220px;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.c-menu > ul .c-menu__item .c-menu-item__title span {
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.sidebar-is-expanded .c-menu > ul .c-menu__item .c-menu-item__title {
  left: 0px;
  opacity: 1;
}
.c-menu > ul .c-menu__item .c-menu__submenu {
  background-color: #051835;
  padding: 15px;
  font-size: 12px;
  display: none;
}
.c-menu > ul .c-menu__item .c-menu__submenu li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
  border-color: #072048;
  color: #5f9cfd;
}
.c-menu > ul .c-menu__item .c-menu__submenu li:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}

main.l-main {
  width: 100%;
  height: 100%;
  padding: 70px 0 0 70px;
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -ms-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}
main.l-main .content-wrapper {
  padding: 25px;
  height: 100%;
}
main.l-main .content-wrapper .page-content {
  border-top: 1px solid #d0d0d0;
  padding-top: 25px;
}
main.l-main .content-wrapper--with-bg .page-content {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 25px;
}
main.l-main .page-title {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}
.sidebar-is-expanded main.l-main {
  padding-left: 220px;
}


/* 27-06-2019 */

.dropdown-menu.dropdown-menu-right a.dropdown-item {
    color: #000 !important;
    padding: 0px 10px !important;
    font-size: 16px !important;
}
.dropdown-menu.dropdown-menu-right {
    width: 139px !important;
    min-width: 120px !important;
    text-align: center;
}








/****cart&****/
.cart_div {
background-image: url(../images/bg6.jpg);
background-size: cover;
background-position: center;
padding: 270px 0px 80px;
margin-top: -100px;
}
img.cart_img {
width: 28px;
}
td.text-center.hidden-xs a {
color: #333;
font-weight: 600;
}
td.text-center.hidden-xs {
font-weight: 600;
}
input.num_in {
width: 60px;
border: 1px solid #000;
background-color: transparent;
padding: 0px 4px;
height: 31px;
}
table.table.table-bordered td.text-center, td.text-right.hidden-xs {
font-weight: 700;
}
.dropdown-menu.dropdown-menu-right a {
    color: #000;
}
td.text-center.btn_cart a {
    padding: 7px 9px;
    background-color: #000;
    color: #fff;
    margin: 10px 0px 0px;
    display: inline-block;
    float: right;
    margin: 0px 10px;
}
td.text-center.btn_cart {
    width: 227px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9cc800d408ce84b53db52b272c6a37bac30be335
}
span.caert_div {
    position: absolute;
    top: -4px;
    background-color: red;
    height: 15px;
    width: 15px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    right: 16px;
}
footer .overlay {
    display: none;
}
.carousel-control.left, .carousel-control.right{
	background-image:none !important;
}
.item.slider2 img {
    width: 100%;
}
.slider_product {
    width: 34%;
    display: inline-block;
}
.detail.detail_pro {
    display: inline-block;
    float: inherit;
    width: 60%;
    vertical-align: top;
    margin-left: 4%;
}
<<<<<<< HEAD
form#contact_form input {
    font-size: 15px;
    background-color: #000;
    padding: 10px 10px;
    color: #fff;
    margin: 10px 0px 0px;
    display: inline-block;
    border: 1px solid #000;
}
form#contact_form {
    float: right;
}
=======
=======
}
>>>>>>> 291d32694acc75f361be1752c882fa5852916acd
>>>>>>> 9cc800d408ce84b53db52b272c6a37bac30be335
